[cockroachdb]
database_url = "postgresql://rpa_user:yzDI067N1yBTXsRXnYfcOg@bulky-marmot-27729.j77.aws-us-east-1.cockroachlabs.cloud:26257/rpa_ssrs?sslmode=verify-full"
database_name = "rpa_ssrs"
sslrootcert = "certs/root.crt"
